<br><br><div class="container mt-5 ">
  <h2 class="text-center mb-4">Modify Restaurant</h2>

  <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()" class="restaurant-form">
    
    <div class="input-container">
      <input type="text" id="restaurant" formControlName="restaurant" class="form-control" [readonly]="true" placeholder=" " hidden />
      <label for="restaurant" class="form-label" hidden>Restaurant ID</label>
    </div>

    <div class="input-container">
      <label for="name" class="form-label">Name</label>

      <input type="text" id="name" formControlName="name" class="form-control" required placeholder=" " />
    </div>

    <div class="input-container">
      <label for="contact" class="form-label">Contact</label>

      <input type="text" id="contact" formControlName="contact" class="form-control" required placeholder=" " />
    </div>

    <div class="input-container">
      <label for="address" class="form-label">Address</label>

      <input type="text" id="address" formControlName="address" class="form-control" required placeholder=" " />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="isSubmitting">Modify Restaurant</button>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div class="mt-3">
    <button class="btn btn-secondary" routerLink="/listrestaurant">Back to Restaurant List</button>
  </div>
</div>
