<nav class="navbar">
    <div class="navbar-container">
        <!-- Remplacer le texte par une image -->
        <img src="assets/44.png" alt="Food Rescue Management" class="navbar-logo" />
        <br><br>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/home" class="navbar-link">Home</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listrestaurant" class="navbar-link">Restaurants</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listfood" class="navbar-link">Foods</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listinventory" class="navbar-link">Inventory</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listmanager" class="navbar-link">Managers</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listDirector" class="navbar-link">Directors</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listEvent" class="navbar-link">Collection Events</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listfeedback" class="navbar-link">Feedbacks</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listnotification" class="navbar-link">Notifications</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<br><br>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">&copy; 2024 Food Rescue Management. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="/privacy-policy" class="footer-link">Privacy Policy</a></li>
            <li><a href="/terms-of-service" class="footer-link">Terms of Service</a></li>
            <li><a href="/contact" class="footer-link">Contact Us</a></li>
        </ul>
    </div>
</footer>